.navigation{
    background-color: whitesmoke;
    max-height: 10%;
    width: -webkit-fill-available;
}
#top{
    top: 0%;
}
#bottom{
    bottom: 0%;
}
#main_container{
    background-color: black;
    max-width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin: 0%;
}
#danmaku_box{
    float: right;
}
video{
    background-color: black;
}
#quit_btn{
    position: absolute;
    right: 0%;
}
#size{
    width: 53px;
}
#opacity{
    width: 30px;
}
#textbox,.setting{
    text-align: center;
    color: dimgray;
}
#user{
    width: 45px;
}
.imghead{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin-left: 3%;
    margin-right: 3%;
    float: left;
}
.username{
    font-size: 25px;
}
.comment{
    width: 95%;
    padding-bottom: 10%;
}