.navigation{
    background-color: whitesmoke;
    max-height: 10%;
    width: -webkit-fill-available;
}
#top{
    top: 0%;
}
#bottom{
    bottom: 0%;
}
#main_container{
    background-color: black;
    max-width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin: 0%;
}
video{
    background-color: black;
}
#quit_btn{
    position: absolute;
    right: 0%;
}